body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #17327c;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
}

section {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.bullet-point {
    list-style: circle;
}

li {
    margin-bottom: 15px;
}

.destaque {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 10px;
}